page-item-detail {
  .item-profile {
    width: 300px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
